---
  - name: Collect remote router facts
    include_tasks: load_facts.yml
    with_items: "{{ router_k8s_other_routers }}"
    loop_control:
      loop_var: group

  - name: Collect worker facts
    include_tasks: load_facts.yml
    vars:
      group: "{{ router_k8s_worker_group }}"

  - name: Configure haproxy dropin
    become: True
    template:
      src: 10-k8s-master.conf.j2
      dest: /etc/haproxy/conf.d/10-k8s-master.conf

  - name: Install needed software
    become: True
    apt:
      name:
        - bird
      state: present
      update_cache: True
      cache_valid_time: 1800

  - name: Ensure that bird6 is stopped
    become: True
    service:
      name: bird6
      state: stopped
      enabled: no

  - name: Configure bird
    become: True
    template:
      src: bird.conf.j2
      dest: /etc/bird/bird.conf
      owner: root
      group: root
      mode: 0644
    notify: restart bird
